<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
        title Document
    body(class="bg-secondary")
        form(action="/eraseUser" method="DELETE" class="w-75 mx-auto")
            table(class="table-stripped table table-dark mt-3")
                thead(class="thead-light text-center")
                    tr
                        th Select
                        each val,key in data[0]
                            th= key
                tbody
                    each val,key in data
                        tr
                            td
                                input(type="checkbox")
                            each value,id in val
                                td= value
            button(class="btn btn-danger mx-auto") Delete
        div(class="container mt-5")
            form(action="/postData" method="POST" class="bg-dark row mx-auto p-5")  
                input(type="text" placeholder="Titre" class="col-4 form-control " name="title")
                input(type="text" placeholder="Image" class="col-4 form-control " name="image")
                input(type="text" placeholder="Genre" class="col-4 form-control " name="genre")
                input(type="text" placeholder="Trailer" class="col-4 form-control " name="trailer")
                input(type="text" placeholder="Réalisateur" class="col-4 form-control " name="director")
                input(type="number" placeholder="Prix" class="col-4 form-control " name="price")
                textarea(name="description" placeholder="Description" class=" col-12 form-control" cols="30" rows="10")
                input(type="text" placeholder="Acteurs" class="form-control " name="actors")
                div(class="col-6 mt-3 text-center")
                    label(class="text-white" for="choice") Film : 
                    input(type="radio" class="w-auto ml-2 col-4" name="choice")
                div(class="col-6 mt-3 text-center")
                    label(class="text-white" for="choice") Serie :   
                    input(type="radio" placeholder="" class="col-4 w-auto ml-2" name="choice")
                input(type="submit" value='Insérer le film' class="mx-auto mt-4 btn btn-success col-4 w-auto ml-2")
